body {
    background-color: rgba(255, 179, 3, 0.847);
}

div {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

h1 {
    text-align: center;
}


.text {
    font-family: cursive;
    font-weight: bolder;
    color: black;
    font-size: larger;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    
}